:root {
    --hauptfarbe: #111111; /* Blau */
    --nebenfarbe: #333333; /* Rot */
    --font: #FFFFFF;
    --buttun: #FFD700;
}


/* reset some default styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--font);
    font-family: Arial, sans-serif;
    background-color: var(--nebenfarbe);
}

/* basic styles */
body {
    line-height: 1.6;
    background-color: var(--hauptfarbe);
    color: #333;
    padding: 20px;
}

header {
    background: var(--buttun);
    color: var(--font);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    padding: 5px 10px;
    background: var(--nebenfarbe);
    border-radius: 5px;
}

nav ul li a:hover {
    background: var(--buttun);
}

main {
    margin-top: 20px;
}

section {
    background: var(--nebenfarbe);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background: var(--hauptfarbe);
    color: var(--font);
    margin-top: 20px;
    border-radius: 5px;
}
